DATABASE_URL=postgresql://user:pass@localhost/deutschly
TELEGRAM_BOT_TOKEN=your_bot_token_here
WEBAPP_URL=https://deutschly-production.up.railway.app
SECRET_KEY=wb9nk2EgjY8e1ggFTjLJ44u3YlAAE9ug7xssI4IvaNu
REDIS_URL=redis://default:EXFbUbTnRjhSqkUwEgUzqSsRkSiTpLFI@yamabiko.proxy.rlwy.net:55325
