DATABASE_URL=postgresql://postgres:jlxPDtLJuPEfrqkEVHPHgVybVstmBWsu@switchback.proxy.rlwy.net:35794/railway
SECRET_KEY=wb9nk2EgjY8e1ggFTjLJ44u3YlAAE9ug7xssI4IvaNu
REDIS_URL=redis://default:uzgGeqXpVsiYwaHLMxFpEvSIrnEohAMA@centerbeam.proxy.rlwy.net:54375